.select {
  width: -webkit-fill-available;
  width: -moz-available;
  padding: 8px 10px;
  border: 1px solid var(--secondary-border-color);
  background-color: var(--white);
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  cursor: pointer;

  @include theme-to('dark') {
    background-color: var(--tertiary-bg);
  }
}
